@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

.contaier {
  max-width: 100%;
  margin: 0 auto;
}
.wrapper {
  max-width: 1440px;
  padding: 0px 80px;
  height: 100%;
  margin: 0 auto;
}

.header {
  &__nav-top {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__nav-logo {
    color: #22202e;
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__nav-list {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding: 20px 0px;
  }

  &__nav-item {
    font-family: OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__nav-link {
    color: #726e8d;
    &:hover {
      color: #160a5f;
      transition: 0.7s;
    }
    &:active {
      color: #f01523;
    }
  }
}
.icon {
  max-width: 16px;
  height: 16px;
}

.link {
  text-decoration: none;
}
